<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Language="1033" Name="Capa.PowerShell.Module.PowerPack" Version="1.4.3" Manufacturer="Mark5900" UpgradeCode="84859ca1-0f7d-47bf-8d36-ae22f5e171ad">
    <Package InstallScope="perMachine" InstallPrivileges="elevated" Comments="Capa.PowerShell.Module.PowerPack" InstallerVersion="200" Platform="x64" />
    <Property Id="POWERSHELL">
      <RegistrySearch Id="POWERSHELL" Type="raw" Root="HKLM" Key="SOFTWARE\Microsoft\PowerShell\1\ShellIds\Microsoft.PowerShell" Name="Path" />
    </Property>
    <Media Id="1" Cabinet="cab1.cab" EmbedCab="yes" />
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFiles64Folder" Name="ProgramFiles64Folder">
        <Directory Id="dir828fbdab566d413bbf84a6af6fc99731" Name="PowerShell">
          <Directory Id="diraebd940778ae4414be49b9a46dc35ac4" Name="Modules">
            <Directory Id="dird51dbe9751cb4c68bf4120db0308a37c" Name="Capa.PowerShell.Module.PowerPack">
              <Component Id="cmpadfb7854ea254ce58413f46e9e22115c" Guid="*">
                <File Id="fila744f2afa56c4251871b01de148e4f05" Source="D:\a\Capa.PowerShell.Module\Capa.PowerShell.Module\Modules\Capa.PowerShell.Module.PowerPack\Capa.PowerShell.Module.PowerPack.psd1" KeyPath="yes" Compressed="yes" Checksum="yes" />
              </Component>
              <Component Id="cmp50558b2edafd45429c3cd5291c62deab" Guid="*">
                <File Id="fil5f2a5b80e0924ef49f1baa415623e864" Source="D:\a\Capa.PowerShell.Module\Capa.PowerShell.Module\Modules\Capa.PowerShell.Module.PowerPack\Capa.PowerShell.Module.PowerPack.psm1" KeyPath="yes" Compressed="yes" Checksum="yes" />
              </Component>
            </Directory>
            <Directory Id="dir6ec06e762f3342d48797dafeb476442d" Name="Capa.PowerShell.Module.PowerPack.Exit">
              <Component Id="cmpfd073d45d3634135b2ab2831577c8f30" Guid="*">
                <File Id="fil0996b695af1543a09ffdedbfe6dbb6bd" Source="D:\a\Capa.PowerShell.Module\Capa.PowerShell.Module\Modules\Capa.PowerShell.Module.PowerPack.Exit\Prod\Capa.PowerShell.Module.PowerPack.Exit.psd1" KeyPath="yes" Compressed="yes" Checksum="yes" />
              </Component>
              <Component Id="cmp56bb3825f5be43ab81638103bd8fa3de" Guid="*">
                <File Id="fil61797796dc6f4de28fb91263024edcc9" Source="D:\a\Capa.PowerShell.Module\Capa.PowerShell.Module\Modules\Capa.PowerShell.Module.PowerPack.Exit\Prod\Capa.PowerShell.Module.PowerPack.Exit.psm1" KeyPath="yes" Compressed="yes" Checksum="yes" />
              </Component>
            </Directory>
            <Directory Id="dir989873009bdb4be194257853052e49d3" Name="Capa.PowerShell.Module.PowerPack.File">
              <Component Id="cmp4cc0dbee95a544c98ab6e4fdf2bde32a" Guid="*">
                <File Id="filbfdefc56cd294dcab15180e7b7bc9a58" Source="D:\a\Capa.PowerShell.Module\Capa.PowerShell.Module\Modules\Capa.PowerShell.Module.PowerPack.File\Prod\Capa.PowerShell.Module.PowerPack.File.psd1" KeyPath="yes" Compressed="yes" Checksum="yes" />
              </Component>
              <Component Id="cmp4e1e9327c64044819d58ec33b0822754" Guid="*">
                <File Id="fil4ae5f46351624bf18f14849b3bdce3d0" Source="D:\a\Capa.PowerShell.Module\Capa.PowerShell.Module\Modules\Capa.PowerShell.Module.PowerPack.File\Prod\Capa.PowerShell.Module.PowerPack.File.psm1" KeyPath="yes" Compressed="yes" Checksum="yes" />
              </Component>
            </Directory>
            <Directory Id="dir233d0b0d653e437d99bd6c15341bfce9" Name="Capa.PowerShell.Module.PowerPack.Ini">
              <Component Id="cmp7eddd4e958dc4a96a1565a67f4f8a2e5" Guid="*">
                <File Id="fil8044284314ce4622a327115b6ad07a4f" Source="D:\a\Capa.PowerShell.Module\Capa.PowerShell.Module\Modules\Capa.PowerShell.Module.PowerPack.Ini\Prod\Capa.PowerShell.Module.PowerPack.Ini.psd1" KeyPath="yes" Compressed="yes" Checksum="yes" />
              </Component>
              <Component Id="cmpa43f3f37197a434b9d304f816a4c79a4" Guid="*">
                <File Id="fil0d340a0a60604c5eac975fe5ec885bf8" Source="D:\a\Capa.PowerShell.Module\Capa.PowerShell.Module\Modules\Capa.PowerShell.Module.PowerPack.Ini\Prod\Capa.PowerShell.Module.PowerPack.Ini.psm1" KeyPath="yes" Compressed="yes" Checksum="yes" />
              </Component>
            </Directory>
            <Directory Id="dir55bbbba287aa44eaa9bafbd422f679b5" Name="Capa.PowerShell.Module.PowerPack.Job">
              <Component Id="cmp179f4826306d43a395d4d30dba7494ac" Guid="*">
                <File Id="filb78630bf337d4700b4d1a6103761a24e" Source="D:\a\Capa.PowerShell.Module\Capa.PowerShell.Module\Modules\Capa.PowerShell.Module.PowerPack.Job\Prod\Capa.PowerShell.Module.PowerPack.Job.psd1" KeyPath="yes" Compressed="yes" Checksum="yes" />
              </Component>
              <Component Id="cmpd11c6a2a26dd4797a4a10870fc0bd624" Guid="*">
                <File Id="fil2e02358f7a5047b8aca0c3f7b6ef15ae" Source="D:\a\Capa.PowerShell.Module\Capa.PowerShell.Module\Modules\Capa.PowerShell.Module.PowerPack.Job\Prod\Capa.PowerShell.Module.PowerPack.Job.psm1" KeyPath="yes" Compressed="yes" Checksum="yes" />
              </Component>
            </Directory>
            <Directory Id="dirbad774c6010b4b4eb9c90344326a2edc" Name="Capa.PowerShell.Module.PowerPack.Log">
              <Component Id="cmp9d78e756713d49f0a4bffb156e8c5118" Guid="*">
                <File Id="fil5d2b897e3df84ad989693b024cfecbfd" Source="D:\a\Capa.PowerShell.Module\Capa.PowerShell.Module\Modules\Capa.PowerShell.Module.PowerPack.Log\Prod\Capa.PowerShell.Module.PowerPack.Log.psd1" KeyPath="yes" Compressed="yes" Checksum="yes" />
              </Component>
              <Component Id="cmp6647918865c14630bad9c03ec01a6650" Guid="*">
                <File Id="fil6680c1287ad040429319574dbfda0237" Source="D:\a\Capa.PowerShell.Module\Capa.PowerShell.Module\Modules\Capa.PowerShell.Module.PowerPack.Log\Prod\Capa.PowerShell.Module.PowerPack.Log.psm1" KeyPath="yes" Compressed="yes" Checksum="yes" />
              </Component>
            </Directory>
            <Directory Id="dirdf5e6da2b27641f2b4cc5ff8cb516b94" Name="Capa.PowerShell.Module.PowerPack.MSI">
              <Component Id="cmpd5793fe6abe349aba98a66aa7c452c27" Guid="*">
                <File Id="fil74a30bea080f4381b7da44b8b72c85f7" Source="D:\a\Capa.PowerShell.Module\Capa.PowerShell.Module\Modules\Capa.PowerShell.Module.PowerPack.MSI\Prod\Capa.PowerShell.Module.PowerPack.MSI.psd1" KeyPath="yes" Compressed="yes" Checksum="yes" />
              </Component>
              <Component Id="cmp508982b4f0764194bf0402391600a2aa" Guid="*">
                <File Id="filde84aab2266b4e63921a19dcc47670bc" Source="D:\a\Capa.PowerShell.Module\Capa.PowerShell.Module\Modules\Capa.PowerShell.Module.PowerPack.MSI\Prod\Capa.PowerShell.Module.PowerPack.MSI.psm1" KeyPath="yes" Compressed="yes" Checksum="yes" />
              </Component>
            </Directory>
            <Directory Id="dir0374b831b9f84cdcac3590c420cf4e57" Name="Capa.PowerShell.Module.PowerPack.Reg">
              <Component Id="cmp884266e8ee5841ca85cbca96e703b102" Guid="*">
                <File Id="fil1d4b22fbd54143a0a7f991e68f2ccd7e" Source="D:\a\Capa.PowerShell.Module\Capa.PowerShell.Module\Modules\Capa.PowerShell.Module.PowerPack.Reg\Prod\Capa.PowerShell.Module.PowerPack.Reg.psd1" KeyPath="yes" Compressed="yes" Checksum="yes" />
              </Component>
              <Component Id="cmpb881ba6d1b6a46e2b64d5f43cf9734a4" Guid="*">
                <File Id="filf4df6bc78a6f44ecb428dd49208b2227" Source="D:\a\Capa.PowerShell.Module\Capa.PowerShell.Module\Modules\Capa.PowerShell.Module.PowerPack.Reg\Prod\Capa.PowerShell.Module.PowerPack.Reg.psm1" KeyPath="yes" Compressed="yes" Checksum="yes" />
              </Component>
            </Directory>
            <Directory Id="dirf82f74635e2247ea90b9e60e83660ac5" Name="Capa.PowerShell.Module.PowerPack.Service">
              <Component Id="cmp68a0cceb2550481293998456cf3b7c56" Guid="*">
                <File Id="fil741e1bdaf5e0412cb37452caa4344572" Source="D:\a\Capa.PowerShell.Module\Capa.PowerShell.Module\Modules\Capa.PowerShell.Module.PowerPack.Service\Prod\Capa.PowerShell.Module.PowerPack.Service.psd1" KeyPath="yes" Compressed="yes" Checksum="yes" />
              </Component>
              <Component Id="cmpbf3f32acedd64feea2a7ffb031a16a75" Guid="*">
                <File Id="fil08efc8eef1a64361a8b3da6a89177ebe" Source="D:\a\Capa.PowerShell.Module\Capa.PowerShell.Module\Modules\Capa.PowerShell.Module.PowerPack.Service\Prod\Capa.PowerShell.Module.PowerPack.Service.psm1" KeyPath="yes" Compressed="yes" Checksum="yes" />
              </Component>
            </Directory>
            <Directory Id="dir6a78db69d5614e348a55f5598836bc20" Name="Capa.PowerShell.Module.PowerPack.Shell">
              <Component Id="cmpd22d0eb7394c45d9b5db860b6e0ac9d0" Guid="*">
                <File Id="filc7ba7ddae1fb4a499b69d1777abc0e54" Source="D:\a\Capa.PowerShell.Module\Capa.PowerShell.Module\Modules\Capa.PowerShell.Module.PowerPack.Shell\Prod\Capa.PowerShell.Module.PowerPack.Shell.psd1" KeyPath="yes" Compressed="yes" Checksum="yes" />
              </Component>
              <Component Id="cmp58c1184c0ff54197a5496cbb961b9e02" Guid="*">
                <File Id="fil2996b6ff239b43318021e16950730f52" Source="D:\a\Capa.PowerShell.Module\Capa.PowerShell.Module\Modules\Capa.PowerShell.Module.PowerPack.Shell\Prod\Capa.PowerShell.Module.PowerPack.Shell.psm1" KeyPath="yes" Compressed="yes" Checksum="yes" />
              </Component>
            </Directory>
            <Directory Id="dircf5d51b1e94e4028994304878c5c3a61" Name="Capa.PowerShell.Module.PowerPack.Sys">
              <Component Id="cmp19b0314c3d3b4574a2ab7102d1202604" Guid="*">
                <File Id="fila829bde729854678a9a1a24b9bda8cca" Source="D:\a\Capa.PowerShell.Module\Capa.PowerShell.Module\Modules\Capa.PowerShell.Module.PowerPack.Sys\Prod\Capa.PowerShell.Module.PowerPack.Sys.psd1" KeyPath="yes" Compressed="yes" Checksum="yes" />
              </Component>
              <Component Id="cmp03246ad869674d229d726b175542207a" Guid="*">
                <File Id="fil136108600e474f828b5c5704697b9594" Source="D:\a\Capa.PowerShell.Module\Capa.PowerShell.Module\Modules\Capa.PowerShell.Module.PowerPack.Sys\Prod\Capa.PowerShell.Module.PowerPack.Sys.psm1" KeyPath="yes" Compressed="yes" Checksum="yes" />
              </Component>
            </Directory>
            <Directory Id="dirdaea40835172492880acc4c5e5a7ddad" Name="Capa.PowerShell.Module.PowerPack.UsrMgr">
              <Component Id="cmp2d84ca46097a48f58c2c2f67ea400820" Guid="*">
                <File Id="fil6b314d960d7f41bda53aa5d2583d928a" Source="D:\a\Capa.PowerShell.Module\Capa.PowerShell.Module\Modules\Capa.PowerShell.Module.PowerPack.UsrMgr\Prod\Capa.PowerShell.Module.PowerPack.UsrMgr.psd1" KeyPath="yes" Compressed="yes" Checksum="yes" />
              </Component>
              <Component Id="cmpde8ab4200a7d4eb29fafe56e5abd1d26" Guid="*">
                <File Id="fil54a9db172f1c40c58a53515030fef58e" Source="D:\a\Capa.PowerShell.Module\Capa.PowerShell.Module\Modules\Capa.PowerShell.Module.PowerPack.UsrMgr\Prod\Capa.PowerShell.Module.PowerPack.UsrMgr.psm1" KeyPath="yes" Compressed="yes" Checksum="yes" />
              </Component>
            </Directory>
          </Directory>
        </Directory>
      </Directory>
    </Directory>
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <Feature Id="CAPA.POWERSHELL.MODULE.POWERPACK" Title="Capa.PowerShell.Module.PowerPack" Level="1">
      <ComponentRef Id="cmpadfb7854ea254ce58413f46e9e22115c" />
      <ComponentRef Id="cmp50558b2edafd45429c3cd5291c62deab" />
      <ComponentRef Id="cmpfd073d45d3634135b2ab2831577c8f30" />
      <ComponentRef Id="cmp56bb3825f5be43ab81638103bd8fa3de" />
      <ComponentRef Id="cmp4cc0dbee95a544c98ab6e4fdf2bde32a" />
      <ComponentRef Id="cmp4e1e9327c64044819d58ec33b0822754" />
      <ComponentRef Id="cmp7eddd4e958dc4a96a1565a67f4f8a2e5" />
      <ComponentRef Id="cmpa43f3f37197a434b9d304f816a4c79a4" />
      <ComponentRef Id="cmp179f4826306d43a395d4d30dba7494ac" />
      <ComponentRef Id="cmpd11c6a2a26dd4797a4a10870fc0bd624" />
      <ComponentRef Id="cmp9d78e756713d49f0a4bffb156e8c5118" />
      <ComponentRef Id="cmp6647918865c14630bad9c03ec01a6650" />
      <ComponentRef Id="cmpd5793fe6abe349aba98a66aa7c452c27" />
      <ComponentRef Id="cmp508982b4f0764194bf0402391600a2aa" />
      <ComponentRef Id="cmp884266e8ee5841ca85cbca96e703b102" />
      <ComponentRef Id="cmpb881ba6d1b6a46e2b64d5f43cf9734a4" />
      <ComponentRef Id="cmp68a0cceb2550481293998456cf3b7c56" />
      <ComponentRef Id="cmpbf3f32acedd64feea2a7ffb031a16a75" />
      <ComponentRef Id="cmpd22d0eb7394c45d9b5db860b6e0ac9d0" />
      <ComponentRef Id="cmp58c1184c0ff54197a5496cbb961b9e02" />
      <ComponentRef Id="cmp19b0314c3d3b4574a2ab7102d1202604" />
      <ComponentRef Id="cmp03246ad869674d229d726b175542207a" />
      <ComponentRef Id="cmp2d84ca46097a48f58c2c2f67ea400820" />
      <ComponentRef Id="cmpde8ab4200a7d4eb29fafe56e5abd1d26" />
    </Feature>
  </Product>
</Wix>